div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: rgb(0 8 191 / 79%);
  font-family: 'Lato';
  text-align: center;
}
input {
  height: 32px;
  background-color: #eddbdb87;
  border: 2px solid black;
  margin: 10px;
  border-radius: 5px;
}
